#container{
    min-height: 800px;
    position: relative;
}

#cock{
    text-align: center;
    font-size: 72px;
    background: black;
    color: white;
    min-width: 300px;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}